In [4]:
import yfinance as yf
data = yf.download('RELIANCE.NS',period='50d',interval='15m',multi_level_index=False,ignore_tz=True)
data

[*********************100%***********************]  1 of 1 completed

,Close,High,Low,Open,Volume
Datetime,,,,,
2025-12-04 09:15:00,1545.000000,1545.000000,1536.500000,1538.900024,175234
2025-12-04 09:30:00,1547.300049,1547.900024,1543.400024,1544.900024,237807
2025-12-04 09:45:00,1548.599976,1549.900024,1546.599976,1547.300049,284841
2025-12-04 10:00:00,1550.800049,1551.000000,1548.199951,1548.599976,295654
2025-12-04 10:15:00,1553.199951,1553.300049,1548.699951,1550.800049,236903
...,...,...,...,...,...
2026-02-13 14:15:00,1422.500000,1426.800049,1421.500000,1421.599976,623946
2026-02-13 14:30:00,1419.500000,1423.800049,1419.000000,1423.000000,321823
2026-02-13 14:45:00,1422.800049,1424.900024,1418.500000,1419.500000,1118419
2026-02-13 15:00:00,1418.900024,1423.000000,1418.199951,1422.800049,784820
2026-02-13 15:15:00,1418.800049,1420.800049,1417.599976,1419.000000,876017

In [5]:
data = yf.download('DOT-USD',period='7d',interval='1m',multi_level_index=False,ignore_tz=True)
data

[*********************100%***********************]  1 of 1 completed

                        Close      High       Low      Open  Volume
Datetime
2026-02-08 00:00:00  1.372244  1.372244  1.372244  1.372244       0
2026-02-08 00:01:00  1.371988  1.371988  1.371988  1.371988       0
2026-02-08 00:02:00  1.371916  1.371916  1.371916  1.371916    7056
2026-02-08 00:03:00  1.372043  1.372043  1.372043  1.372043       0
2026-02-08 00:04:00  1.371637  1.371637  1.371637  1.371637       0
...                       ...       ...       ...       ...     ...
2026-02-14 13:06:00  1.364058  1.364058  1.364058  1.364058   28080
2026-02-14 13:07:00  1.363620  1.363620  1.363620  1.363620   66584
2026-02-14 13:09:00  1.363842  1.363842  1.363842  1.363842       0
2026-02-14 13:10:00  1.364223  1.364223  1.364223  1.364223   73320
2026-02-14 13:12:00  1.364054  1.364054  1.364054  1.364054    7944

[8206 rows x 5 columns]

In [ ]:
stock = yf.Ticker('AMZN')
stock.info

{'address1': '410 Terry Avenue North',
 'city': 'Seattle',
 'state': 'WA',
 'zip': '98109-5210',
 'country': 'United States',
 'phone': '206 266 1000',
 'website': 'https://www.amazon.com',
 'industry': 'Internet Retail',
 'industryKey': 'internet-retail',
 'industryDisp': 'Internet Retail',
 'sector': 'Consumer Cyclical',
 'sectorKey': 'consumer-cyclical',
 'sectorDisp': 'Consumer Cyclical',
 'longBusinessSummary': "Amazon.com, Inc. engages in the retail sale of consumer products, advertising, and subscriptions service through online and physical stores in North America and internationally. The company operates through three segments: North America, International, and Amazon Web Services (AWS). It also manufactures and sells electronic devices, including Kindle, fire tablets, fire TVs, echo, ring, blink, and eero; and develops and produces media content. In addition, the company offers programs that enable sellers to sell their products in its stores; and programs that allow authors, independent publishers, musicians, filmmakers, Twitch streamers, skill and app developers, and others to publish and sell content. Further, it provides compute, storage, Artificial intelligence, database, analytics, machine learning, and other services, as well as advertising services through programs, such as sponsored ads, display, and video advertising. Additionally, the company offers Amazon Prime, a membership program. The company's products offered through its stores include merchandise and content purchased for resale and products offered by third-party sellers. It serves consumers, sellers, developers, enterprises, content creators, advertisers, and employees. The company was incorporated in 1994 and is headquartered in Seattle, Washington.",
 'fullTimeEmployees': 1576000,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Jeffrey P. Bezos',
   'age': 61,
   'title': 'Founder & Executive Chairman',
   'yearBorn': 1964,
   'fiscalYear': 2024,
   'totalPay': 1681840,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Andrew R. Jassy',
   'age': 57,
   'title': 'President, CEO & Director',
   'yearBorn': 1968,
   'fiscalYear': 2024,
   'totalPay': 1596889,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Brian T. Olsavsky',
   'age': 61,
   'title': 'Senior VP & CFO',
   'yearBorn': 1964,
   'fiscalYear': 2024,
   'totalPay': 371900,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. David A. Zapolsky J.D.',
   'age': 61,
   'title': 'Senior VP and Chief Global Affairs & Legal Officer',
   'yearBorn': 1964,
   'fiscalYear': 2024,
   'totalPay': 371900,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Douglas J. Herrington',
   'age': 58,
   'title': 'Chief Executive Officer of Worldwide Amazon Stores',
   'yearBorn': 1967,
   'fiscalYear': 2024,
   'totalPay': 386435,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Matthew S. Garman',
   'age': 48,
   'title': 'Chief Executive Officer of Amazon Web Series',
   'yearBorn': 1977,
   'fiscalYear': 2024,
   'totalPay': 384275,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Shelley L. Reynolds',
   'age': 60,
   'title': 'VP, Worldwide Controller & Principal Accounting Officer',
   'yearBorn': 1965,
   'fiscalYear': 2024,
   'totalPay': 163200,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Dr. Werner  Vogels',
   'title': 'Chief Technology Officer',
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Dave  Fildes',
   'title': 'Vice President of Investor Relations',
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Drew  Herdener',
   'title': 'Senior Vice President of Communications & Corporate Responsibility',
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 2,
 'boardRisk': 8,
 'compensationRisk': 10,
 'shareHolderRightsRisk': 3,
 'overallRisk': 9,
 'governanceEpochDate': 1769904000,
 'compensationAsOfEpochDate': 1735603200,
 'irWebsite': 'http://phx.corporate-ir.net/phoenix.zhtml?c=97664&p=irol-irhome',
 'executiveTeam': [],
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 199.6,
 'open': 198.99,
 'dayLow': 197.275,
 'dayHigh': 201.16,
 'regularMarketPreviousClose': 199.6,
 'regularMarketOpen': 198.99,
 'regularMarketDayLow': 197.275,
 'regularMarketDayHigh': 201.16,
 'payoutRatio': 0.0,
 'beta': 1.385,
 'trailingPE': 27.686628,
 'forwardPE': 21.401733,
 'volume': 65715387,
 'regularMarketVolume': 65715387,
 'averageVolume': 47207519,
 'averageVolume10days': 79948750,
 'averageDailyVolume10Day': 79948750,
 'bid': 198.7,
 'ask': 208.8,
 'bidSize': 1,
 'askSize': 1,
 'marketCap': 2133994766336,
 'fiftyTwoWeekLow': 161.38,
 'fiftyTwoWeekHigh': 258.6,
 'allTimeHigh': 258.6,
 'allTimeLow': 0.065625,
 'priceToSalesTrailing12Months': 2.9765983,
 'fiftyDayAverage': 230.4574,
 'twoHundredDayAverage': 223.62206,
 'trailingAnnualDividendRate': 0.0,
 'trailingAnnualDividendYield': 0.0,
 'currency': 'USD',
 'tradeable': False,
 'enterpriseValue': 2189512933376,
 'profitMargins': 0.108339995,
 'floatShares': 9746556705,
 'sharesOutstanding': 10734920870,
 'sharesShort': 71847643,
 'sharesShortPriorMonth': 73419039,
 'sharesShortPreviousMonthDate': 1767139200,
 'dateShortInterest': 1769731200,
 'sharesPercentSharesOut': 0.0067000003,
 'heldPercentInsiders': 0.09144,
 'heldPercentInstitutions': 0.66963,
 'shortRatio': 1.78,
 'shortPercentOfFloat': 0.0074,
 'impliedSharesOutstanding': 10734920870,
 'bookValue': 38.306,
 'priceToBook': 5.189526,
 'lastFiscalYearEnd': 1767139200,
 'nextFiscalYearEnd': 1798675200,
 'mostRecentQuarter': 1767139200,
 'earningsQuarterlyGrowth': 0.059,
 'netIncomeToCommon': 77669998592,
 'trailingEps': 7.18,
 'forwardEps': 9.2885,
 'lastSplitFactor': '20:1',
 'lastSplitDate': 1654473600,
 'enterpriseToRevenue': 3.054,
 'enterpriseToEbitda': 15.024,
 '52WeekChange': -0.12292081,
 'SandP52WeekChange': 0.11527538,
 'quoteType': 'EQUITY',
 'currentPrice': 198.79,
 'targetHighPrice': 360.0,
 'targetLowPrice': 175.0,
 'targetMeanPrice': 282.1746,
 'targetMedianPrice': 285.0,
 'recommendationMean': 1.33824,
 'recommendationKey': 'strong_buy',
 'numberOfAnalystOpinions': 63,
 'totalCash': 123028996096,
 'totalCashPerShare': 11.461,
 'ebitda': 145730994176,
 'totalDebt': 178546999296,
 'quickRatio': 0.844,
 'currentRatio': 1.051,
 'totalRevenue': 716923994112,
 'debtToEquity': 43.435,
 'revenuePerShare': 67.279,
 'returnOnAssets': 0.06928,
 'returnOnEquity': 0.22286,
 'grossProfits': 360509997056,
 'freeCashflow': 23793125376,
 'operatingCashflow': 139514003456,
 'earningsGrowth': 0.05,
 'revenueGrowth': 0.136,
 'grossMargins': 0.50286,
 'ebitdaMargins': 0.20327,
 'operatingMargins': 0.10533,
 'financialCurrency': 'USD',
 'symbol': 'AMZN',
 'language': 'en-US',
 'region': 'US',
 'typeDisp': 'Equity',
 'quoteSourceName': 'Nasdaq Real Time Price',
 'triggerable': True,
 'customPriceAlertConfidence': 'HIGH',
 'regularMarketChangePercent': -0.405818,
 'regularMarketPrice': 198.79,
 'corporateActions': [],
 'postMarketTime': 1771030799,
 'regularMarketTime': 1771016402,
 'exchange': 'NMS',
 'messageBoardId': 'finmb_18749',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EST',
 'gmtOffSetMilliseconds': -18000000,
 'market': 'us_market',
 'esgPopulated': False,
 'marketState': 'CLOSED',
 'shortName': 'Amazon.com, Inc.',
 'longName': 'Amazon.com, Inc.',
 'hasPrePostMarketData': True,
 'firstTradeDateMilliseconds': 863703000000,
 'postMarketChangePercent': 0.085416675,
 'postMarketPrice': 198.9598,
 'postMarketChange': 0.1697998,
 'regularMarketChange': -0.810013,
 'regularMarketDayRange': '197.275 - 201.16',
 'fullExchangeName': 'NasdaqGS',
 'averageDailyVolume3Month': 47207519,
 'fiftyTwoWeekLowChange': 37.40999,
 'fiftyTwoWeekLowChangePercent': 0.23181303,
 'fiftyTwoWeekRange': '161.38 - 258.6',
 'fiftyTwoWeekHighChange': -59.810013,
 'fiftyTwoWeekHighChangePercent': -0.23128387,
 'fiftyTwoWeekChangePercent': -12.292081,
 'earningsTimestamp': 1770325200,
 'earningsTimestampStart': 1777582800,
 'earningsTimestampEnd': 1777582800,
 'earningsCallTimestampStart': 1770328800,
 'earningsCallTimestampEnd': 1770328800,
 'isEarningsDateEstimate': True,
 'epsTrailingTwelveMonths': 7.18,
 'epsForward': 9.2885,
 'epsCurrentYear': 7.70028,
 'priceEpsCurrentYear': 25.815943,
 'fiftyDayAverageChange': -31.667404,
 'fiftyDayAverageChangePercent': -0.1374111,
 'twoHundredDayAverageChange': -24.832062,
 'twoHundredDayAverageChangePercent': -0.11104478,
 'sourceInterval': 15,
 'exchangeDataDelayedBy': 0,
 'averageAnalystRating': '1.3 - Strong Buy',
 'cryptoTradeable': False,
 'displayName': 'Amazon.com',
 'trailingPegRatio': 1.8173}

In [16]:
stock_name = ['AMZN','AAPL','GOOGL','MSFT','TSLA']
data1={}
for i in stock_name:
    stock = yf.Ticker(i)
    b=stock.info.get('beta')
    data1.update({i:b})
data1

{'AMZN': 1.385, 'AAPL': 1.107, 'GOOGL': 1.086, 'MSFT': 1.084, 'TSLA': 1.887}

In [18]:
c = list(data1.values())
stock_name = c.index(max(c))
stock_name

4

In [19]:
stock.cash_flow

,2025-12-31,2024-12-31,2023-12-31,2022-12-31,2021-12-31
Free Cash Flow,6.220000e+09,3.581000e+09,4.357000e+09,7.552000e+09,NaN
Repayment Of Debt,-5.650000e+09,-2.881000e+09,-1.815000e+09,-3.866000e+09,NaN
Issuance Of Debt,5.586000e+09,5.744000e+09,3.931000e+09,0.000000e+00,NaN
Issuance Of Capital Stock,NaN,NaN,NaN,0.000000e+00,0.000000e+00
Capital Expenditure,-8.527000e+09,-1.134200e+10,-8.899000e+09,-7.172000e+09,NaN
Interest Paid Supplemental Data,2.920000e+08,2.770000e+08,1.260000e+08,1.520000e+08,NaN
Income Tax Paid Supplemental Data,NaN,1.331000e+09,1.119000e+09,1.203000e+09,5.610000e+08
End Cash Position,1.761600e+10,1.703700e+10,1.718900e+10,1.692400e+10,NaN
Beginning Cash Position,1.703700e+10,1.718900e+10,1.692400e+10,1.814400e+10,NaN
Effect Of Exchange Rate Changes,1.710000e+08,-1.410000e+08,4.000000e+06,-4.440000e+08,NaN
Changes In Cash,4.080000e+08,-1.100000e+07,2.610000e+08,-7.760000e+08,NaN
Financing Cash Flow,1.139000e+09,3.853000e+09,2.589000e+09,-3.527000e+09,NaN
Cash Flow From Continuing Financing Activities,1.139000e+09,3.853000e+09,2.589000e+09,-3.527000e+09,NaN
Net Other Financing Charges,1.700000e+07,-2.510000e+08,-2.270000e+08,-2.020000e+08,NaN
Proceeds From Stock Option Exercised,1.186000e+09,1.241000e+09,7.000000e+08,5.410000e+08,NaN
Net Common Stock Issuance,NaN,NaN,NaN,0.000000e+00,0.000000e+00
Common Stock Issuance,NaN,NaN,NaN,0.000000e+00,0.000000e+00
Net Issuance Payments Of Debt,-6.400000e+07,2.863000e+09,2.116000e+09,-3.866000e+09,NaN
Net Long Term Debt Issuance,-6.400000e+07,2.863000e+09,2.116000e+09,-3.866000e+09,NaN
Long Term Debt Payments,-5.650000e+09,-2.881000e+09,-1.815000e+09,-3.866000e+09,NaN
Long Term Debt Issuance,5.586000e+09,5.744000e+09,3.931000e+09,0.000000e+00,NaN
Investing Cash Flow,-1.547800e+10,-1.878700e+10,-1.558400e+10,-1.197300e+10,NaN
Cash Flow From Continuing Investing Activities,-1.547800e+10,-1.878700e+10,-1.558400e+10,-1.197300e+10,NaN
Net Other Investing Changes,NaN,NaN,NaN,7.600000e+07,6.000000e+06
Net Investment Purchase And Sale,-6.951000e+09,-7.445000e+09,-6.621000e+09,-5.813000e+09,NaN
Sale Of Investment,3.015800e+10,2.851000e+10,1.249100e+10,2.200000e+07,NaN
Purchase Of Investment,-3.710900e+10,-3.595500e+10,-1.911200e+10,-5.835000e+09,NaN
Net Business Purchase And Sale,0.000000e+00,0.000000e+00,-6.400000e+07,0.000000e+00,NaN
Sale Of Business,NaN,NaN,NaN,0.000000e+00,0.000000e+00
Purchase Of Business,0.000000e+00,0.000000e+00,-6.400000e+07,0.000000e+00,NaN
Net Intangibles Purchase And Sale,NaN,0.000000e+00,0.000000e+00,9.270000e+08,-1.228000e+09
Sale Of Intangibles,NaN,0.000000e+00,0.000000e+00,9.360000e+08,2.720000e+08
Purchase Of Intangibles,NaN,0.000000e+00,0.000000e+00,-9.000000e+06,-1.500000e+09
Net PPE Purchase And Sale,-8.527000e+09,-1.134200e+10,-8.899000e+09,-7.163000e+09,NaN
Purchase Of PPE,-8.527000e+09,-1.134200e+10,-8.899000e+09,-7.163000e+09,NaN
Operating Cash Flow,1.474700e+10,1.492300e+10,1.325600e+10,1.472400e+10,NaN
Cash Flow From Continuing Operating Activities,1.474700e+10,1.492300e+10,1.325600e+10,1.472400e+10,NaN
Change In Working Capital,6.420000e+08,8.100000e+07,-2.248000e+09,-3.712000e+09,NaN
Change In Other Working Capital,3.630000e+08,5.020000e+08,1.532000e+09,1.131000e+09,NaN
Change In Other Current Liabilities,NaN,NaN,NaN,1.904000e+09,4.760000e+08
Change In Other Current Assets,-2.500000e+07,-5.900000e+08,-1.952000e+09,-1.570000e+09,NaN
Change In Payables And Accrued Expense,4.376000e+09,3.588000e+09,2.605000e+09,8.029000e+09,NaN
Change In Payable,4.376000e+09,3.588000e+09,2.605000e+09,8.029000e+09,NaN
Change In Account Payable,4.376000e+09,3.588000e+09,2.605000e+09,8.029000e+09,NaN
Change In Prepaid Assets,-3.181000e+09,-3.273000e+09,-2.652000e+09,-3.713000e+09,NaN
Change In Inventory,-6.300000e+08,9.370000e+08,-1.195000e+09,-6.465000e+09,NaN
Change In Receivables,-2.610000e+08,-1.083000e+09,-5.860000e+08,-1.124000e+09,NaN
Changes In Account Receivables,-2.610000e+08,-1.083000e+09,-5.860000e+08,-1.124000e+09,NaN
Other Non Cash Items,2.720000e+08,1.720000e+08,8.100000e+07,3.400000e+08,NaN
Stock Based Compensation,2.825000e+09,1.999000e+09,1.812000e+09,1.560000e+09,NaN
Asset Impairment Charge,3.620000e+08,3.350000e+08,4.630000e+08,1.770000e+08,NaN
Deferred Tax,1.230000e+08,4.770000e+08,-6.349000e+09,-1.960000e+08,NaN
Deferred Income Tax,1.230000e+08,4.770000e+08,-6.349000e+09,-1.960000e+08,NaN
Depreciation Amortization Depletion,6.148000e+09,5.368000e+09,4.667000e+09,3.747000e+09,NaN
Depreciation And Amortization,6.148000e+09,5.368000e+09,4.667000e+09,3.747000e+09,NaN
Depreciation,6.148000e+09,5.368000e+09,4.667000e+09,3.747000e+09,NaN
Operating Gains Losses,5.200000e+08,-6.620000e+08,-1.440000e+08,2.210000e+08,NaN
Net Foreign Currency Exchange Gain Loss,4.520000e+08,-7.300000e+07,-1.440000e+08,8.100000e+07,NaN
Gain Loss On Sale Of PPE,6.800000e+07,-5.890000e+08,0.000000e+00,1.400000e+08,NaN
Net Income From Continuing Operations,3.855000e+09,7.153000e+09,1.497400e+10,1.258700e+10,NaN

In [8]:
data = yf.download('DOT-USD',start='2026-01-01',end='2026-02-01',interval='1d',multi_level_index=False,ignore_tz=True)
data

[*********************100%***********************]  1 of 1 completed

               Close      High       Low      Open     Volume
Date
2026-01-01  1.996028  2.017035  1.764219  1.789186  223301764
2026-01-02  2.161198  2.161372  1.968370  1.996015  262707293
2026-01-03  2.125039  2.213410  2.111297  2.161165  182431908
2026-01-04  2.139850  2.177495  2.120168  2.125039  141622365
2026-01-05  2.208401  2.230329  2.097358  2.139852  229622369
2026-01-06  2.234120  2.256708  2.118593  2.208383  238295109
2026-01-07  2.143120  2.240258  2.122442  2.234095  163737516
2026-01-08  2.109905  2.153027  2.088949  2.143120  143541675
2026-01-09  2.080213  2.134063  2.052845  2.109928  136192247
2026-01-10  2.090097  2.126498  2.069250  2.080224   71589713
2026-01-11  2.066166  2.120471  2.040722  2.090083   80170064
2026-01-12  2.052330  2.146858  2.030260  2.066168  135923962
2026-01-13  2.281716  2.336015  2.051447  2.052330  299518636
2026-01-14  2.226057  2.294274  2.200797  2.281716  198000996
2026-01-15  2.117048  2.234842  2.101316  2.226057  161571685
2026-01-16  2.119089  2.151242  2.059468  2.117048  149996540
2026-01-17  2.177091  2.230258  2.114315  2.119089  152161073
2026-01-18  2.067770  2.199257  2.067380  2.177091  127421786
2026-01-19  2.028562  2.067864  1.927700  2.067758  236277771
2026-01-20  1.896892  2.047636  1.895310  2.028573  173871868
2026-01-21  1.949451  1.994521  1.878387  1.896892  149771175
2026-01-22  1.924348  1.977942  1.906391  1.949451   94532990
2026-01-23  1.924222  1.977706  1.901543  1.924348  109695890
2026-01-24  1.926673  1.935277  1.899695  1.924222   62929346
2026-01-25  1.821654  1.934861  1.786106  1.926673  129875776
2026-01-26  1.874388  1.892135  1.818739  1.821675  117541454
2026-01-27  1.874989  1.891283  1.827660  1.874388  100986918
2026-01-28  1.867865  1.891294  1.832120  1.875002  131902635
2026-01-29  1.732650  1.869622  1.697793  1.867848  159989970
2026-01-30  1.686591  1.742621  1.654899  1.732663  190156803
2026-01-31  1.544033  1.687292  1.458605  1.686591  273108145